/* 头部 */
.global_header {
    background-color: #171A21;
    height: 104px;
}

.main-header {
    position: relative;
    width: 940px;
    height: 104px;
    padding-left: 0px;
    padding-right: 0px;
}

.logo-image {
    width: 176px;
    height: 44px;
    margin-top: 30px;
    float: left;
}

.logo-image img {
    width: 100%;
    height: 100%;
    border: none;
}

.superanv {
    float: left;
}

.superanv a {
    float: left;
    color: rgb(184, 182, 180);
    font-size: 14px;
}

.superanv>ul {
    margin-top: 40px;
    margin-left: 10px;
}

.superanv>ul>li {
    width: 42px;

}

.global-menue {
    position: absolute;
    width: 230px;
    height: 25px;
    top: 5px;
    right: 0px;
}

.global-action {
    width: 120px;
    height: 100%;
    background-color: rgb(92, 126, 16);
    margin-right: 0px;
    float: left;
}

.global-action>a {
    line-height: 25px;
    width: 87px;
    vertical-align: middle;
    margin-left: 12px;
    color: #e5e4dc;
}

.global-action>a:hover {
    color: #b9b9b9;
}

.global-action>img {
    width: 20px;
}

.login-action {
    float: left;
    width: 110px;
    text-align: center;
    color: rgb(184, 182, 180);
    font-size: 12px;
}

.login-action a {
    line-height: 25px;
    width: 55px;
    color: rgb(184, 182, 180);
    font-size: 12px;
}

/*中部*/
body {
    background: url('../images/colored_body_top.png') center top no-repeat #1b2838;
}

#mid-box {
    height: 1370px;
    padding: 0px;
}

#mid-box>.container {
    width: 1402px;
}

.mid-box-top-bar {
    width: 100%;
    height: 35px;
}

.store-navbar {
    margin-top: 30px;
    height: 35px;
    background-image: linear-gradient(to right, #3A6490, #0F216E);
}

.store-navbar ul {
    height: 0px;

}

.store-navbar ul li {
    height: 35px;
    width: 80px;
    text-align: center;
}

.store-navbar>ul>li:hover {
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
}


.store-navbar ul li a {
    line-height: 35px;
    vertical-align: middle;
    margin: 0 auto;
    color: rgb(217, 217, 217);
    font-size: 13px;
    font-weight: 700;
}

h4 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
}

.mydropdown {
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    padding: 8px 5px 8px 5px;
    z-index: 1000;
}

.mydropdown ul li {
    width: 100px;
}

.mydropdown ul li :hover {
    border-bottom: 2px solid #fff;
}

.yourshop_dropdown {
    position: absolute;
    width: 110px;
    height: 150px;
    z-index: 10000;
}

.recommend_dropdown {
    position: absolute;
    width: 110px;
    height: 190px;
}

.mydropdown ul li a {
    font-size: 5px;
}

.kind_dropdown {
    position: absolute;
    left: 15px;
    width: 904px;
    height: 507px;
}

.kind_dropdown div ul li a {
    font-size: 5px;
}

.none-li {
    width: 500px;
}

.search-form {
    position: relative;
    margin-left: 165px;
}

.search-input {
    height: 28px;
    margin-right: 0px;
    background-color: rgb(49, 98, 130);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.searcg-button {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #316282;
    background-image: url('../images/search_icon_btn.png');
    border: none;
    top: 6px;
    left: 150px
}

/* 弹窗 */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.login_bg {
    z-index: 1000000;

}

.close span {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    font-size: 30px;
}



.title_header{
    color: #8f98a0;
    font-size: 12px;
    font-weight: normal;
    margin-top: 30px;
}
.title{
    color: white;
    font-size: 26px;
    line-height: 32px;
    text-overflow: ellipsis;
}
.goods_left{
    height: 404px;
    padding-left: 0px;
    padding-right: 0px;

}
.goods_right{
height: 404px;
}
.goods_display{
    width: 100%;
    height: 337px;
}
.goods_nav{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    padding-top: 5px;
}
img{
    width: 100%;
}
.introdece_text{
    margin-top: 10px;
    max-height: 111px;
    overflow: hidden;
    font-size: 13px;
    line-height: 18px;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.introdece_text p{
   color: rgb(198, 212, 223);
}
.subtitle{
    line-height: 16px;
    color: #556772;
    float: left;
}
.summary{
    float: right;
    color: #66C0F4 ;
}
.summary a{
    color: #66C0F4 ;
    display: block;
    width: 130px;
}
.colum{
    width: 235px;
    height: 16px;
}
.loginbar{
    background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);    color: #c6d4df;
    font-size: 12px;
    height: 40px;
}
.main_{
    height: 555px;
    background: linear-gradient(to right, rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
}
.buygoods{
    margin-top: 30px;
}
.game_area_purchase_game{
    position: relative;
    background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
    border-radius: 4px;
    font-size: 13px;
    color: #c6d4df;
    padding: 16px;
    padding-bottom: 26px;
    margin-bottom: 28px;
}
.game_area_purchase_game>h1{
    font-size: 21px;
}
.discount_pct {
    color: #a4d007;
    background: #4c6b22;
    display: inline-block;
    line-height: 34px;
    padding: 0 5px;
    font-size: 26px;
    font-weight: 300;
}


.discount_pct {
    height: 34px;
    width: 74px;
    font-size: 26px;
}

.discount_large {
    position: relative;
    width: 184px;
    float: right;
}

.price {
    /* float: right; */
    position: absolute;
    top: 0px;
    left: 74px;
    width: 60px;
    background-color: #000;
    color: rgb(196, 196, 196);
    height: 34px;
}

.discount_mid {
    width: 195px;
    height: 34px;
    font-size: 26px;
    color: #a4d007;
    background: #4c6b22;
}
.discount_original_price {
    font-size: 13px;
}

.discount_final_price {
    font-size: 13px;
}



.goods_nav img:hover {
    box-shadow: 0 0 10px #66c0f4;

}

/* .goods_nav div{
    width: 30px;
    background-color: #1248fc;
    height: 95px;
    float: left;
} */
.requirement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}
.requirement ul li{
    color: #acb2b8;
    margin-top: 16px;
    font-size: 12px;
    width: 100%;
}
.requirement strong{
    color: #61686D;
    font-size: 12px;
    margin-right: 4px;
    font-weight: normal;
    margin-bottom: 2px;
    text-transform: none;
}
.goods_buy_right{
    width: 100%;
    height: 300px;
    padding: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.goods_buy_right_title{
    height: 35px;
    font-size: 16px;
    color: #fff;
}
.goods_buy_right p{
    color: #acb2b8;
    font-size: 14px;
    line-height: 22px;
}
.goods_buy_right_login,.goods_buy_right_open{
    width: 60px;
    height: 30px;
    background: rgba( 103, 193, 245, 0.2 );
    text-align: center;
    margin-top: 60px;
}
.goods_buy_right_login>a ,.goods_buy_right_open>a{
   line-height: 30px;
   color: #67c1f5;
}
.goods_buy_right_login{
    float: left;
}
.goods_buy_right_open{
    float: right;
    width: 120px;
}

/* 底部 */

.botton_login {
    background-color: #000;
    height: 245px;
    padding-left: 0px;
    padding-right: 0px;
}

.botton {
    height: 300px;
}

.botton_login_content {
    height: 100%;
    width: 905px;
    padding-top: 20px;
}

.botton_login_content a {
    display: block;
    font-weight: normal;
    font-size: 24px;
    color: #67c1f5;
    text-align: center;
    margin: 0 auto;
}

.botton_login_content p {
    text-align: center;
    margin-top: 20px;
    color: #8f98a0;
}

.botton_login_button {
    color: #8f98a0;
}

.botton_login_button span {
    width: 60px;
    height: 30px;
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    color: #D2E885;
    background: #a4d007;
    background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
    font-size: 15px;
}

.botton_regster {
    height: 20px;
}

.botton_regster p a {
    display: inline-block;
    color: #fff;
    font-size: 15px;
}

.botton {
    height: 220px;
    background-color: rgb(23, 26, 33);
}

.botton_content {
    /* background-color: #06BFFF; */
    height: 100%;
    width: 905px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer_content {
    margin-top: 40px;
    height: 60px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-top: 1px solid #363c44;
    border-bottom: 1px solid #363c44;
}

.botton_logo {
    float: left;
    width: 88px;
    height: 25px;
}

.botton img {
    width: 100%;
    margin-top: 4px;
}

.botton_text {
    float: left;
    width: 550px;
    height: 100%;
    margin-left: 10px;
    font-size: 12px;
    color: #8F98A0;
}

.botton_text a {
    color: #C6D4DF;
}

.botton_text a:hover {
    color: #ffffff;
}

.botton_right_logo {
    float: right;
    width: 88px;
    height: 25px;
}

.about {
    margin-top: 15px;
    font-size: 13px;
    height: 20px;
    width: 100%;
    margin-left: 0px;
}

.about img {
    display: inline-block;
    line-height: 13px;
    width: 13px;
    margin-bottom: 7px;
}

.foot {
    padding-left: 0px;
    padding-right: 0px;
    height: 55px;
}

.authorname {
    font-size: 15px;
}